[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=artgit
X-Python-2-Compatible=false
Name=ArtGit
Comment=Version control system for Krita with branching and commit functionality